/* -------------------------------------------- */
/* Reset                                        */
/* -------------------------------------------- */

/* Source: https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
p {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for buttons */
button {
  font: inherit;
}

/* -------------------------------------------- */
/* General Styles                              */
/* -------------------------------------------- */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* -------------------------------------------- */
/* Specific Styles                              */
/* -------------------------------------------- */

/* Navigation Bar */

nav {
    box-shadow: 0px 3px 7.5px rgb(0 0 0 / 0.1);
    padding: 22px 30px;
}

.logo {
    width: 82px;
}

/* Hero Section */

.hero-sec {
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-image {
    width: 85.5%;
    align-self: center;
    max-width: 400px;
}

.hero-title {
    font-size: 36px;
    font-weight: 600;
    margin-block: 32px 16px;
}

.hero-description {
    width: 70%;
    margin-bottom: 15px;
}

/* Card */

.container {
  display: flex;
  margin-left: 35px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
    flex: 0 1 176px;
    font-size: 12px;
    line-height: 1.8;
    margin-right: 15px;
    position: relative;
}

.card-img {
    border-radius: 9px;
    margin-bottom: 8px;
}

.card-rating {
    display: flex;
    align-items: center;
}

.card-rating img {
    width: 14px;
    margin-right: 2px;
}

.card-rating span {
    color: hsl(254 6% 58%);
}

.card-cost span {
    font-weight: 600;
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}